Sistemas de Micro Controladores/Ligar e monitorizar (ESP32-MQTT)/flows.json
[
    {
        "id": "bd7b7ed84feb411a",
        "type": "tab",
        "label": "Tapete Transportador",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55c485bb2e641ea7",
        "type": "mqtt in",
        "z": "bd7b7ed84feb411a",
        "name": "Comando Tapete",
        "topic": "tapete/comando",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ccaffd44a03408",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "c93947f4da83580c"
            ]
        ]
    },
    {
        "id": "b40486d1145d8e1b",
        "type": "mqtt out",
        "z": "bd7b7ed84feb411a",
        "name": "Status Tapete",
        "topic": "tapete/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33ccaffd44a03408",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "4c1dec9ef0581d1a",
        "type": "mqtt out",
        "z": "bd7b7ed84feb411a",
        "name": "Contagem Tapete",
        "topic": "tapete/contagem",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33ccaffd44a03408",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "c93947f4da83580c",
        "type": "switch",
        "z": "bd7b7ed84feb411a",
        "name": "Comando",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "16cd747545261474"
            ],
            [
                "6abe21b97c7dbcc0"
            ]
        ]
    },
    {
        "id": "16cd747545261474",
        "type": "change",
        "z": "bd7b7ed84feb411a",
        "name": "Ligar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "b40486d1145d8e1b"
            ]
        ]
    },
    {
        "id": "6abe21b97c7dbcc0",
        "type": "change",
        "z": "bd7b7ed84feb411a",
        "name": "Desligar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Desligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "b40486d1145d8e1b"
            ]
        ]
    },
    {
        "id": "028e7f6109ad6288",
        "type": "ui_button",
        "z": "bd7b7ed84feb411a",
        "name": "Ligar",
        "group": "ui_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "tapete/comando",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "4bfbba5614f76a7a"
            ]
        ]
    },
    {
        "id": "c3b306ded452a2f9",
        "type": "ui_button",
        "z": "bd7b7ed84feb411a",
        "name": "Desligar",
        "group": "ui_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "tapete/comando",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "4bfbba5614f76a7a"
            ]
        ]
    },
    {
        "id": "4bfbba5614f76a7a",
        "type": "mqtt out",
        "z": "bd7b7ed84feb411a",
        "name": "Comando Tapete",
        "topic": "tapete/comando",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "33ccaffd44a03408",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "9f527a3f1dbcc610",
        "type": "ui_text",
        "z": "bd7b7ed84feb411a",
        "group": "ui_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "c4ee53372f371342",
        "type": "ui_text",
        "z": "bd7b7ed84feb411a",
        "group": "ui_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Contagem",
        "label": "Contagem",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "c9ac095790c7823b",
        "type": "mqtt in",
        "z": "bd7b7ed84feb411a",
        "name": "Status Tapete",
        "topic": "tapete/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ccaffd44a03408",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "9f527a3f1dbcc610"
            ]
        ]
    },
    {
        "id": "babddba366770f7a",
        "type": "mqtt in",
        "z": "bd7b7ed84feb411a",
        "name": "Contagem Tapete",
        "topic": "tapete/contagem",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "33ccaffd44a03408",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "c4ee53372f371342"
            ]
        ]
    },
    {
        "id": "33ccaffd44a03408",
        "type": "mqtt-broker",
        "name": "TESTE",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_group",
        "type": "ui_group",
        "name": "Tapete",
        "tab": "ui_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab",
        "type": "ui_tab",
        "name": "Controle",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]